* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: beige;    
}
.container {
    position: relative;
    width: 100%;
    max-width: 400px;
    background-color: blue;
    padding: 30px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
.heading {
    text-align: center;
    font-size: 40px;
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
}
label {
    display: block;
    font-size: 20px;
    margin-bottom: 15px;
    color: rgb(255, 255, 255);
}
select{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: rgb(150, 150, 63);
    font-size: 18px;
}
.btn{
    width: 100%;
    height: 60px;
    background-color: rgb(121, 134, 177);
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3 linear;
    margin-top: 35px;
}
.btn:hover{
    background-color: green;
}

.btn:disabled{
    cursor: not-allowed;
}


.btn-start:disabled{
    cursor: not-allowed;
    background-color: blanchedalmond;
}



.hide{
    display: none;
}





.timer{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.timer .progress{
    position: relative;
    width: 100%;
    height: 40px;
    background-color: transparent;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 10px;
    border: 3px solid grey;
}

.timer .progress .progress-bar{
    width: 50%;
    height: 100%;
    border-radius: 30px;
    overflow: hidden;
    background: linear-gradient(to right, #ea517c, #b478f1);
    transition: 1s linear
}

.timer .progress .progress-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 19px;
    font-weight: 500;
}



.question-wrapper .number{
    color: grey;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
}

.question-wrapper .number .total{
    color: grey;
    font-size: 18px;
}

.question-wrapper .question{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.answer-wrapper .answer{
    width: 100%;
    height: 60px;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    border: 3px solid grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.3s linear;
}

.answer .checkbox{
    width: 25px;
    height: 25px;
    font-size: 15px;
    border-radius: 50%;
    border: 4px solid darkgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.answer .checkbox .icon{
    opacity: 0;
}

.answer:hover .checkbox,
.answer.selected .checkbox{
    background-color: orange;
    border-color: orange
}

.answer.selected .checkbox .icon{
    opacity: 1;
}

.answer.correct{
    border-color: rgb(23, 239, 23);
}

.answer.wrong{
    border-color: red;
}

.question-wrapper,
.answer-wrapper{
    margin-bottom: 50px;
}

.btn.next{
    display:none
}



.end-screen .score{
    color: white;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 80px;
    text-align: center;
}

.end-screen .score-text{
    color: grey;
    font-size: 18px;
    margin-bottom: 120px;
}

@media (max-width: 468px) {
    .container {
        min-height: 100vh;
        max-width: 100%;
        border-radius: 0;
    }
}